
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>AD</td>
        <td>SOYAD</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>AD</td>
        <td>SOYAD</td>
    </tr>
</table>

    