@using CVPROJECTMVC.Models.Entity
@model List<HobilerTbl>
<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
     @foreach (var item in Model)
     {


    <p>@item.Description1</p>
    
     }
</div>
