
@{
    ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <br />
    <input type="text" name="Workflow" class="form-control" placeholder="Yeteneği giriniz" />
    <br />
    <input type="text" name="Oran" class="form-control" placeholder="Derecesini giriniz" />
    <br />
    <button class="btn btn-info">Yeteneği Gir</button>
</form>


