
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <br />
    <input type="text" name="Title" class="form-control" placeholder="Başlığı giriniz" />
    <br />
    <input type="text" name="Subtitle" class="form-control" placeholder="Alt Başlığı giriniz" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Çalışma tarihi giriniz" />
    <br />
    <textarea name="Description" class="form-control" placeholder="Açıklama giriniz" rows="5" ></textarea>
    <br />
    <button class="btn btn-info">Deneyimi Gir</button>
</form>

