@using CVPROJECTMVC.Models.Entity
@model List<HobilerTbl>
@{
    ViewBag.Title = "HobiListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hobi Düzenleme Sayfası</h2>
<br />
<form method="post">
    @foreach (var item in Model)
    {

        <label>Hobi</label>
         <textarea rows="5" class="form-control" name="Description1">@item.Description1</textarea>
         <a href="/Hobi/HobiSil/@item.ID" class="btn btn-danger">Sil</a>
    }

    <button class="btn btn-success">Hobiyi Güncelle</button>
</form>